.title{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px rgb(1, 205, 205);
    padding: 0 15px 15px 15px;
}

.back-button{
    width: 70px;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.cards{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.alumn-form{
    display: grid;
    width: 50%;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    border-radius: 7px;
}

input{
    grid-column: 2 / 3; 
    padding: 5px;
}

label{
    grid-column: 1 / 2;
}

button{
    width: 50%;
    grid-column: 1 / 2;
    cursor: pointer;
    padding: 5px 0 5px 0;
}

button:hover{
    background-color: rgb(1, 205, 205);
    color: white;
}
