.title{
    display: flex;
    justify-content: space-between;
    /* border-bottom: solid 2px rgb(1, 205, 205); */
    padding: 0px 20px;
}

.back-button{
    width: 70px;
    background-color: red;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

.cards{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.alumn-form{
    display: grid;
    width: 95%;
    gap: 5px;
    grid-template-columns: repeat(2,1fr);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    border-radius: 7px;
}

input{
    grid-column: 2 / 3; 
    padding: 5px;
}

label{
    grid-column: 1 / 2;
}

button{
    width: 65px;
    grid-column: 1 / 2;
    cursor: pointer;
    padding: 5px 0 5px 0;
}

button:hover{
    background-color: rgb(1, 205, 205);
    color: white;
}

.add-student-button{
    padding: 10px 0px;
    background: rgb(1, 205, 205);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

hr {
    margin-top: 15px;
}

.error-border {
    border-color: hsl(0, 66%, 54%) !important;
}

.error {
    color: hsl(0, 66%, 54%);
    grid-column: 2 / 3; /* Se asegura de que el error esté debajo del input */
    height: 20px; 
    margin-top: 5px;
    align-self: start; /* Asegura que el mensaje de error comience debajo del input */
    justify-self: start;
}