*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar li{
    list-style: none;
    padding: 5px;
    margin-top: 7px;
}

.sidebar li:hover{
    background: white;
    color: black;
    border-radius: 5px;
}
.sidebar a{
    text-decoration: none;
    color: black;
}

.sidebar-layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: aqua;
    color: black;
    padding: 20px;
}
