hr {
    margin: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
  }

  th, td {
    border: 1px solid black;
    padding: 4px;   
  }

  li{
    list-style-type: none;
  }
.header {
    display: flex;
    align-items: center;
    padding: 20px;
}
.content {
    padding: 0px;
}

.header-div:last-child {
    margin-left: auto;
}

.add-button {
    padding: 10px 10px;
    background: rgb(1, 205, 205);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.container-table {
    padding: 20px;
}

.search{
    display: grid;
    grid-template-columns: 10fr 0.5fr;
    gap: 5px;
}

.search-button{
    border: none;
    padding: 5px 2px;
}

.button-nav{
    padding: 4px;
    border: none;
}

.active button{
    background: greenyellow;
    padding: 4px 5px;
}

.ul-nav{
    display: flex;
}

